/* Global styles */
body {
    font-family: 'Arial', sans-serif;
}

/* Header styles */
.navbar-brand {
    font-weight: bold;
}

/* Hero section styles */
#hero {
    background-image: linear-gradient(to right, #5964e0, #5ec4e0);
    color: #fff;
}

/* About section styles */
#about {
    background-color: #f8f9fa;
}

/* Projects section styles */
#projects {
    background-color: #fff;
}

.card {
    background-color: #f8f9fa;
}

/* Contact section styles */
#contact {
    background-color: #212529;
}

/* Footer styles */
footer {
    font-size: 14px;
}
